<mat-grid-list cols="1" rowHeight="100">
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <div>
      <h1 class="mat-h1 mat-headline text-center">Bem vindo ao MyPoopy Admin</h1>
      <p class="mat-subheading-2 text-justify">
        Aqui você poderá gerenciar e monitar os eventos que são gerados no MyPoopy Mobile. 
      </p>
      <p class="mat-subheading-2 text-justify">Para começar bastar fazer o login!</p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <div class="main-container w-75">
      <form [formGroup]="firstFormGroup" (ngSubmit)="submit(firstFormGroup.value)">
        <div class="example-container w-50">
          <mat-form-field>
            <input matInput placeholder="Digite seu email" formControlName="email" required>
            <mat-error *ngIf="firstFormGroup.controls['email'].invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Digite sua senha" formControlName="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="firstFormGroup.invalid">Login</button>
        </div>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>